<div class="outerdiv">
    <div class="row d-flex justify-content-center align-items-center p-5 h-100 gap-3">
        <div class="col-sm-12 col-md-6 col-xl-3 col-xxl-3 colstyle">
            <h6 class="fw-bold txt text-center">Standard</h6>
            <h1 class="fw-bold pricecolor my-4"><span class="fs-6 pricecolor">$</span>25<span class="fs-6 text-light">/month</span></h1>
            <ul class="custom-bullets">
                <li>Up to 5 Classes</li>
                <li>Up to 20 Students</li>
                <li>5 docs upload</li>
                <li>10 questions per hour</li>
            </ul>
            <ul class="custom-bullets1">
                <li>Image Interpretation</li>
                <li>Quiz Generation</li>
                <li>Assignment Generation</li>
                <li>Diagrams Generation</li>
            </ul>
            <div class="btnholder">
                <button class="btn btn-light w-100">Selected</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3 col-xxl-3 colstyle">
            <h6 class="fw-bold txt text-center">Enterprise</h6>
            <h1 class="fw-bold pricecolor my-4"><span class="fs-6 pricecolor">$</span>100<span class="fs-6 text-light">/month</span></h1>
            <ul class="custom-bullets">
                <li>50+ Classes</li>
                <li>Up to 100 Students</li>
                <li>Unlimited docs upload</li>
                <li>Unlimited questions per hour</li>
                <li>Image Interpretation</li>
                <li>Quiz & Assignment Generation</li>
                <li>Diagrams Generation</li>
            </ul>
            <div class="btnholder">
                <button class="btn btn-success w-100">Purchase</button>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-xl-3 col-xxl-3 colstyle">
            <h6 class="fw-bold txt text-center">Business</h6>
            <h1 class="fw-bold pricecolor my-4"><span class="fs-6 pricecolor">$</span>60<span class="fs-6 text-light">/month</span></h1>
            <ul class="custom-bullets">
                <li>Up to 20 Classes</li>
                <li>Up to 50 Students</li>
                <li>20 docs upload</li>
                <li>30 questions per hour</li>
                <li>Image Interpretation</li>
                <li>Quiz & Assignment Generation</li>
            </ul>
            <ul class="custom-bullets1">
                <li>Diagrams Generation</li>
            </ul>
            <div class="btnholder">
                <button class="btn btn-success w-100">Purchase</button>
            </div>
        </div>
    </div>
</div>