.namestyle{
    color: rgb(49, 49, 49);
    font-weight: 550;
    font-size: 0.95rem;
}

.headingstyle{
    color: #393268;
    font-weight: normal;
}
.stuheadingstyle{
    font-size: 1rem;
    color: #393268;
    font-weight: bold;
}