<div class="m-3 m-lg-5">
    <div class="my-5">
        <h4 class="headingstyle">Teachers</h4>
        <hr class="text-dark">
        <div class="d-flex justify-content-start align-items-center flex-row my-3">
            <p-avatar class="me-4" icon="pi pi-user" [style]="{ 'background-color': '#393268', color: '#ffffff' }" styleClass="mr-2" size="large" shape="circle"></p-avatar>
            <h6 class="namestyle">{{teachers.name}}</h6>
        </div>
    </div>
    <div class="my-5">
        <div class="d-flex justify-content-start align-items-center flex-row">
            <h4 class="headingstyle me-auto">Students</h4>
            <h4 class="stuheadingstyle">{{students.length}} Students</h4>
        </div>
        <hr class="text-dark">
        
        <div class="d-flex justify-content-start align-items-center flex-row my-3" *ngFor="let each of students">
            <p-avatar class="me-4" icon="pi pi-user" [style]="{ 'background-color': '#393268', color: '#ffffff' }" styleClass="mr-2" size="large" shape="circle"></p-avatar>
            <h6 class="namestyle">{{each.name}}</h6>
        </div>


    </div>
</div>