<div class="customheight">
    <form [formGroup]="formgroup1" (ngSubmit)="emailHandler()">
        <div class="row d-flex justify-content-center align-content-center">
            <div class="col-sm-12 col-lg-7 position-relative d-flex justify-content-center align-items-start flex-column leftsection">
                <img class="heroimg animate img-fluid" src="assets/emailbg.png" alt="hero" width="500vw">
                <!-- <h5 class="fw-semibold mx-auto mt-5" style="color: rgb(168, 168, 168);">Askphere</h5> -->
                <div class="px-3">
                    <p class="fw-bold text-center mt-5" *ngIf="textNumb === 1" data-aos="fade-up" data-aos-duration="500">Resetting password allows users to regain access to their accounts in case they forget their password or suspect unauthorized access.</p>
                    <p class="fw-bold text-center mt-5" *ngIf="textNumb === 2" data-aos="fade-up" data-aos-duration="500">Facilitate password recovery with a secure email-based reset process, empowering users to regain access to their accounts swiftly.</p>
                    <p class="fw-bold text-center mt-5" *ngIf="textNumb === 3" data-aos="fade-up" data-aos-duration="500">Ensure user account protection by offering an email-driven password reset mechanism, enhancing security and user confidence.</p>
                </div>
                <div class="welcometag">
                    <h6 class="text-center text-light m-0">Reset Password</h6>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 text-light position-relative d-flex justify-content-center align-items-center flex-column rightsection py-5">
                <h1 class="herotxt my-5 mb-3">Reset Your Password</h1>
                <div class="mb-4 w-75">
                    <p class="text-center">Please provide the email associated with your AskSphere account.</p>
                </div>

                <div class="d-flex justify-content-start align-items-start flex-column custwidth mb-3">
                    <input type="email" [formControl]="email" class="form-control custominput w-100 mb-2" id="email" placeholder="Enter Username or Email">
                    <small id="username-help" class="text-danger" *ngIf="email.invalid && (email.dirty)">Please enter a valid email address.</small>
                </div>

                <div class="mb-4 custwidth">
                    <button type="submit" class="btn loginbtn d-flex justify-content-center align-items-center fs-5 w-100" [disabled]="!formgroup1.valid"><i class="pi pi-spin pi-spinner me-2 d-none" #spinner style="font-size: 1rem"></i> Reset Password</button>
                </div>
                <div class="w-100 d-flex justify-content-center align-items-center flex-row">
                    <p class='text-center mb-0 me-2' style="color:#ffffff;">Already have an account? </p><a class='input' style="color: white" routerLink="/login">Log In</a>
                </div>
            </div>
        </div>
    </form>
</div>