<div class="outerroadmap mt-5">
    <!-- <div class="container textinfo py-4">
        <h5 class="text-center">Roadmap</h5>
        <p class="text-center m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore eaque beatae perferendis animi corporis error, eos dolorem minus at dolores. Culpa similique ad officiis assumenda tempora cupiditate molestiae error voluptatibus pariatur, odio obcaecati hic.</p>
    </div> -->
    <ng-image-slider [images]="imageObject" #nav [imageSize]="{space:25}" [imagePopup]="false" [manageImageRatio]="true" [infinite]="true" [autoSlide]="true" [showArrow]="false"></ng-image-slider>
</div>
