<div class="outerroadmap bgcolor">
    <div class="container textinfo py-4">
        <h5 class="text-center">Roadmap</h5>
        <p class="text-center m-0">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempore eaque beatae perferendis animi corporis error, eos dolorem minus at dolores. Culpa similique ad officiis assumenda tempora cupiditate molestiae error voluptatibus pariatur, odio obcaecati hic.</p>
    </div>
    <div class="d-flex justify-content-center align-items-center mt-5 pt-5">
        <ul class="base-timeline">

            <li class="base-timeline__item">
                <div style="width: 15px; height: 15px; border-radius: 50%; background-color: white; position: absolute; top: 32%; left: 3%;"></div>
                <div class="base-timeline__summary-text">
                    <h6>Project Planning</h6>
                    <p>Oct 24, 2023</p>
                </div>
            </li>

            <li class="base-timeline__item base-timeline__item--active">
                <div style="width: 15px; height: 15px; border-radius: 50%; background-color: white; position: absolute; top: 32%; left: 3%;"></div>
                <div class="base-timeline__summary-text">
                    <h6>Project Planning</h6>
                    <p>Oct 24, 2023</p>
                </div>
            </li>

            <li class="base-timeline__item">
                <div style="width: 15px; height: 15px; border-radius: 50%; background-color: white; position: absolute; top: 32%; left: 3%;"></div>
                <div class="base-timeline__summary-text">
                    <h6>Project Planning</h6>
                    <p>Oct 24, 2023</p>
                </div>
            </li>

            <li class="base-timeline__item">
                <div style="width: 15px; height: 15px; border-radius: 50%; background-color: white; position: absolute; top: 32%; left: 10%;"></div>
                <div class="base-timeline__summary-text">
                    <h6>Project Planning</h6>
                    <p>Oct 24, 2023</p>
                </div>
            </li>
          </ul>
    </div>
</div>
