<div class="hero pb-5" data-aos="fade-right" data-aos-duration="3000">
    <div class="container px-4 my-5  text-light">
        <div class="d-flex justify-content-center align-items-center flex-column radialbgcolor boxstyle">
            <h2 class="text-center mb-3">TRANSFORMING EDUCATION IN 3 STEPS</h2>
            <div class="row d-flex justify-content-center align-items-center g-5 w-100">
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center flex-column">
                    <img class="img-fluid my-3" src="assets/account.svg" alt="" width="100px">
                    <h3>Step 1</h3>
                    <h6 class="text-center" style="color: rgb(206, 206, 206);">Create Account</h6>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center flex-column">
                    <img class="img-fluid my-3" src="assets/classroom.png" alt="" width="100px">
                    <h3>Step 2</h3>
                    <h6 class="text-center" style="color: rgb(206, 206, 206);">Accept Class Invitation</h6>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 d-flex justify-content-center align-items-center flex-column">
                    <img class="img-fluid my-3" src="assets/qna.svg" alt="" width="100px">
                    <h3>Step 3</h3>
                    <h6 class="text-center" style="color: rgb(206, 206, 206);">Start Questioning</h6>
                </div>
            </div>
        </div>
    </div>
</div>