<div class="hero" data-aos="fade-down" data-aos-duration="3000">
    <div class="container p-3 mb-5">
        <div class="row d-flex justify-content-center align-content-center mb-5">
            <div class="col-sm-12 col-lg-6 text-light position-relative d-flex justify-content-center align-items-start flex-column p-4">
                <!-- <img class="spinanimate my-3" src="https://thetork.com/demos/html/bitrader/assets/images/banner/home1/3.png" alt="" width="100px"> -->
                <h1 class="herotxt">SUBSCRIBE TO OUR NEWS CHANNEL</h1>
                <form class="d-flex newsform my-3 w-100" action="">
                    <input required type="email" placeholder="Enter email address"/>
                    <button class="btn sendbtn" type="submit"><span class="material-icons sendicon">send</span></button>
                </form>
                <div class="mt-3 boxstyle">
                    <h1 class="herotxt1">JOIN OUR COMMUNITY</h1>
                    <p class="heropara2 mb-4">Join our vibrant learning community and embark on an exciting educational journey together! Connect with like-minded peers, passionate educators, and cutting-edge technology enthusiasts.</p>
                    <div class="d-flex justify-content-start align-content-center flex-row gap-3">
                        <button class="btn joinbtn" routerLink="/contact"><img class="img-fluid iconsize" src="assets/linkedin.png" alt=""></button>
                        <button class="btn joinbtn" routerLink="/contact"><img class="img-fluid iconsize" src="assets/Facebook.png" alt=""></button>
                        <button class="btn joinbtn" routerLink="/contact"><img class="img-fluid iconsize" src="assets/twitter.png" alt=""></button>
                        <button class="btn joinbtn" routerLink="/contact"><img class="img-fluid iconsize" src="assets/whatsapp.png" alt=""></button>
                        <button class="btn joinbtn" routerLink="/contact"><img class="img-fluid iconsize" src="assets/youtube.png" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-start flex-column">
                <img class="heroimg animate img-fluid mt-5" src="assets/home3.svg" alt="" width="600vw">
            </div>
        </div>
    </div>
</div>