.hero{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .insidebox{
    margin: 8% 0%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
  }
  
  .bgcolor1{
    background-image: linear-gradient(135deg, #292645, #413984);
  }
  
  .herotxt{
  color: #fff;
  font-size: 1.5rem;
  text-align: center !important;
  font-weight: 400;
  }
  
  .heropara{
  font-size: 2.5rem;
  }
  
  .hometxt{
  text-align: justify;
  }
  
  .loginbtn{
    background-image: linear-gradient(to right, #7a52d7, #9b59f1);
    color: #fff;
    border-radius: 15px;                   
    padding: 5px 40px;
    transition: 0.6s ease all;
  }
  
  .loginbtn:hover{
    background-image: linear-gradient(to right, #6d46ca, #8a49e0);
    color: white;
    transition: 0.6s ease all;
  }
  
  .leftsection{
  background-image: linear-gradient(to right, #3f3c8d, #3d377f);
  padding: 120px;
  border-radius: 15px 0px 0px 15px;
  }
  
  .rightsection{
  background-color: #221b5f;
  /* padding: 120px; */
  border-radius: 0px 15px 15px 0px;
  }
  
  .custominput{
  border-radius: 0px;
  padding: 15px 10px;
  width: 75%;
  border-top: 0px;
  border-right: 0px;
  border-left: 0px;
  border-bottom: 2px solid #ffffff;
  color: white;
  background-color: rgba(255, 255, 255, 0.082);
  }
  
  .custominput::placeholder{
  color: rgb(218, 218, 218);
  }
  
  .welcometag{
  position: absolute;
  background-image: linear-gradient(to right, #7a52d7, #9b59f1);
  padding: 15px 30px;
  border-radius: 0px 15px 15px 0px;
  top: 50px;
  left: 100%;
  z-index: 999;
  width: max-content;
  }

  .optionstyle{
    color: #fff;
    background-color: #3d377f;
  }
  .optionstyle:hover{
    color: #fff;
    background-color: #221b5f !important;
  }

  .custom-select {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M0 0h4L2 3zm0 0L0 0h4z'/%3E%3C/svg%3E")
}
  
  @media (max-width:576px){
  .herotxt{
    font-size: 1.5rem;
    text-align: start;
  }
  
  .heropara{
    font-size: 2rem;
    text-align: start;
  }
  .heropara2{
    text-align: start;
  }
  .hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .leftsection{
    background-image: linear-gradient(to right, #3f3c8d, #3d377f);
    padding: 20px;
    border-radius: 15px 15px 0px 0px;
  }
  
  .rightsection{
    background-color: #221b5f;
    /* padding: 120px; */
    border-radius: 0px 0px 15px 15px;
  }
  
  .herotxt{
    margin-top: 10%;
  }
  
  .welcometag{
    position: absolute;
    background-image: linear-gradient(to right, #7a52d7, #9b59f1);
    padding: 15px 30px;
    border-radius: 0px 15px 15px 0px;
    top: 50px;
    left: 0%;
    z-index: 999;
    width: max-content;
  }
  
  .insidebox{
    margin: 20% 0%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
  }
  
  }
  
  @media (min-width:577px) and (max-width:992px){
  
  .welcometag{
    position: absolute;
    background-image: linear-gradient(to right, #7a52d7, #9b59f1);
    padding: 15px 30px;
    border-radius: 0px 15px 15px 0px;
    top: 50px;
    left: 0%;
    z-index: 999;
    width: max-content;
  }
  
  .hero{
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .leftsection{
    background-image: linear-gradient(to right, #3f3c8d, #3d377f);
    padding: 120px;
    border-radius: 15px 15px 0px 0px;
  }
  
  .rightsection{
    background-color: #221b5f;
    /* padding: 120px; */
    border-radius: 0px 0px 15px 15px;
  }
  
  .herotxt{
    margin-top: 10%;
  }
  .insidebox{
    margin: 10% 0%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 15px;
  }
  }
  
  @media (min-width:992px) and (max-width:1200px){
    
    .welcometag{
      position: absolute;
      background-image: linear-gradient(to right, #7a52d7, #9b59f1);
      padding: 15px 30px;
      border-radius: 0px 15px 15px 0px;
      top: 50px;
      left: 0%;
      z-index: 999;
      width: max-content;
    }
  
  }