.outerdb{
    height: 100dvh;
}


mat-drawer{
    width: 300px;
    /* height: 100dvh; */
}

mat-drawer-content{
   overflow: hidden !important;
}

.stopscrolling{
    height: 100dvh; 
    overflow: hidden;
}

.custommenu{
    padding: 20px 30px;
    color: #cacaca;
    border-radius: 0px;
    /* background-color: #352e628a; */
    margin-bottom: 2px;
    border: transparent;
    text-align: left;
}

.brandname{
    font-weight:normal;
    color: #fff;
  }
  .brandname span{
    font-weight:bold;
    color: #ef04cf;
  }

.active{
    border-right: 4px solid #fff;
    background-color: #352e62;
}

.profiledp{
    border-radius: 75px;
    aspect-ratio: 1;
    border: 2px solid #ef04cf;
}

.rolebtn{
    padding: 8px 40px;
    color: #fff;
    border-radius: 5px;
    background-color: #352e62;
    width: 80%;
  }

  .rolebtn:hover{
    background-color: #3f3c8d;
  }

  .sidenavbtn{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 85%;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}

.sidenavbtn:hover{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 85%;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #333252;
    /* border: 0px; */
}

.usernamebtn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 85%;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
}

.usernamebtn:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: 85%;
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #545377;
    transition: 0.7 ease-in-out all;
}


.active{
  background-color: #333252;
  border: 0px;
}

.divider{
  background-color: white;
  height: 1px;
  width: 100%;
}

.logout{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  color: #a2a1b1;
  font-size: 1rem;
  border-radius: 10px;
}

.sidenavmobile{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}