:host ::ng-deep .p-accordion-content{
    background-color: rgb(230, 227, 233);
}

:host ::ng-deep .p-accordion{
    background-color: rgb(230, 227, 233);
}

:host ::ng-deep .p-accordion-header{
    background-color: #4a446d;
}

:host ::ng-deep .p-accordion-header-link{
    background-color: #4a446d;
    text-decoration: none;
    color: white;
}

.outerdiv{
    /* background-image: url("https://thetork.com/demos/html/bitrader/assets/images/header/1.png"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10rem 0rem 7rem 0rem;
    /* margin-top: 75px !important; */
}

.innerdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

.innerdiv h1{
    font-size: 3rem;
}
.innerdiv h6{
    font-size: 1.2rem;
}

@media (max-width:576px){
    .outerdiv{
        padding: 3rem 2rem 3rem;
    }
    .innerdiv h1{
        font-size: 2.5rem;
    }

    .innerdiv{
        width: 95%;
    }
}