<mat-drawer-container class="example-container" hasBackdrop="true">

    <mat-drawer class="bgcolordark position-fixed" #drawer mode="over" opened="false">
        <div class="d-flex justify-content-center">
            <a class="navbar-brand brandname fs-3 my-5" href="#"><img class="img-fluid my-auto me-3" src="assets/askspherelogo.png" alt="" width="48px">Ask<span>Sphere</span></a>
        </div>
        <!-- <div class="d-flex justify-content-start align-items-center flex-column">
            <button class="btn rolebtn mb-3" routerLink="/login" (click)="drawer.toggle()">Log In</button>
            <button class="btn rolebtn" routerLink="/signup" (click)="drawer.toggle()">Sign Up</button>
        </div> -->
        <div class="d-flex justify-content-center align-items-center flex-column w-100 mb-3">
            <!-- <img class="img-fluid profiledp mb-2" *ngIf="loggedIn" src="assets/profiledp.jpg" alt="" width="150px" height="150px"> -->
        </div>
        <div class="w-100 my-3 sidenavmobile">
            <!-- <a class="btn btn-outline-light d-flex justify-content-center align-items-center px-3 mx-3 mb-3" routerLink="/v1/dashboard" (click)="drawer.toggle()"><span class="material-icons me-2">logout</span>Dashboard</a>
            <button class="w-100 btn custommenu d-flex justify-content-start align-items-center" [ngClass]="currentPath=='/'?'active':''" routerLink="/" (click)="drawer.toggle()"><span class="material-icons me-3">home</span>Home</button>
            <button class="w-100 btn custommenu d-flex justify-content-start align-items-center" [ngClass]="currentPath=='/about'?'active':''" routerLink="/about" (click)="drawer.toggle()"><span class="material-icons me-3">groups</span>About</button>
            <button class="w-100 btn custommenu d-flex justify-content-start align-items-center" [ngClass]="currentPath=='/contact'?'active':''" routerLink="/contact" (click)="drawer.toggle()"><span class="material-icons me-3">call</span>Contact</button>
            <button class="w-100 btn custommenu d-flex justify-content-start align-items-center" [ngClass]="currentPath=='/support'?'active':''" routerLink="/support" (click)="drawer.toggle()"><span class="material-icons me-3"><span class="material-symbols-outlined">verified_user</span></span>Support</button>
            <button class="w-100 btn custommenu d-flex justify-content-start align-items-center mt-4" [ngClass]="currentPath=='/contact'?'active':''" routerLink="/contact" (click)="drawer.toggle()"><span class="material-icons me-3">logout</span>Signout</button> -->

            <a (click)="drawer.toggle()" *ngIf="loggedIn" class="btn btn-outline-light d-flex justify-content-center align-items-center px-3 mb-4" style="width: 80%;" routerLink="/v1/dashboard"><span class="material-icons me-2">logout</span>Dashboard</a>
            <a (click)="drawer.toggle()" class="btn sidenavbtn mb-3" [ngClass]="currentPath=='/'?'active':''" routerLink="/"><span class="material-icons me-3">home</span> Home</a>
            <a (click)="drawer.toggle()" class="btn sidenavbtn mb-3" [ngClass]="currentPath=='/about'?'active':''" routerLink="/about"><span class="material-icons me-3">groups</span> About</a>
            <a (click)="drawer.toggle()" class="btn sidenavbtn mb-3" [ngClass]="currentPath=='/contact'?'active':''" routerLink="/contact"><span class="material-icons me-3">call</span> Contact</a>
            <a (click)="drawer.toggle()" class="btn sidenavbtn mb-3" [ngClass]="currentPath=='/support'?'active':''" routerLink="/support"><span class="material-icons me-3">verified_user</span> Support</a>
            <a class="btn active usernamebtn active mt-4" *ngIf="loggedIn" [ngClass]="currentPath=='/v1/dashboard/profile'?'active':''" routerLink="/v1/dashboard/profile"><span class="material-icons me-3">account_circle</span>{{userName}}</a>
            <hr class="divider mb-0">
            <button class="btn logout my-2" *ngIf="loggedIn" (click)="logoutHandler()" (click)="drawer.toggle()">Log Out <span class="material-icons me-3">logout</span> </button>
            <button class="btn logout mt-3 mb-2" routerLink="/login" (click)="drawer.toggle()" *ngIf="!loggedIn">Log In <span class="material-icons me-3">logout</span> </button> 
            <button class="btn logout mb-3" routerLink="/signup" (click)="drawer.toggle()" *ngIf="!loggedIn">Sign Up <span class="material-icons me-3">logout</span> </button>
            <button class="btn logout" routerLink="/v1/dashboard/classes/12/chat" (click)="drawer.toggle()" *ngIf="!loggedIn">Chat Now <span class="material-icons me-3">chat</span> </button>
        </div>
    </mat-drawer>

    <mat-drawer-content class="stopscrollings">
        <!-- <mat-progress-bar mode="determinate" [value]="progress"></mat-progress-bar> -->
        <app-navbar [drawer]="drawer" *ngIf="!isDashboardRoute && !isloginRoute && !issignupRoute && !isresetRoute && !isnewpassRoute"></app-navbar>
        <p-toast position="top-left" key="tl" [life]="1000" [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'},'576px': {width: '95%', right: '0', left: '0'}}"></p-toast>
        <router-outlet></router-outlet>
        <app-footer *ngIf="!isDashboardRoute && !isloginRoute && !issignupRoute && !isresetRoute && !isnewpassRoute"></app-footer>

    </mat-drawer-content>

  </mat-drawer-container>
