
mat-drawer{
    width: 300px;
    /* height: 100dvh; */
}

.stopscrolling{
    height: 100dvh; 
    overflow: hidden;
}

.custommenu{
    padding: 20px 30px;
    color: #fff;
    border-radius: 0px;
    background-color: #352e628a;
    margin-bottom: 2px;
    border: transparent;
    text-align: left;
}

.active{
    border-right: 4px solid #fff;
    background-color: #352e62;
}

.rolebtn{
    padding: 8px 40px;
    color: #fff;
    border-radius: 0px;
    border: 1px solid #fff;
  }

  .rolebtn:hover{
    padding: 8px 40px;
    color: #fff;
    background-color: #3f3c8d;
    border-radius: 0px;
    border: 1px solid #fff;
  }