:host ::ng-deep .p-dialog-header{
    padding: 0.9rem !important;
}

:host ::ng-deep .p-dialog-content{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

::ng-deep .p-overlaypanel	{
    padding: 0px !important;
}

::ng-deep .p-tooltip-text{
    font-size: 0.9rem !important;
}

.navbtn{
    border: 1px solid #333252;
    color: #333252;
    transition: 0.7 ease-in-out all;

}


.notiStyle:first-of-type{
    padding: 10px; 
    border-bottom: 1px solid rgb(201, 201, 201);
    border-top: 1px solid rgb(201, 201, 201);
}

.notiStyle:hover{
    cursor: pointer;
    background-color: #f6f6f8;
}

.notiStyle:not(:first-child){
    padding: 10px; 
    border-bottom: 1px solid rgb(201, 201, 201);
}

.navbtn:hover{
    border: 1px solid #333252;
    color: white;
    background-color: #333252;
    transition: 0.7 ease-in-out all;
}

.sidenavbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50%; */
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    background-color: #333252;
}

.sidenavbtn:hover{
    background-color: #474669;
    /* border: 0px; */
}

.active{
    background-color: #333252;
    border: 0px;
}

.custominput{
    border-radius: 10px;
    padding: 15px 10px;
    width: 100%;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    color: rgb(65, 57, 94);
    border: 1px solid rgb(74, 61, 97);
  }
  
  .custominput::placeholder{
    color: rgb(65, 57, 94);
  }

  .modalheading{
    margin-bottom: 0px;
  }
  
.notiContentStyle{
    width:20vw; 
    font-size: 0.9rem;
}


  @media (max-width:576px){
    .sidenavbtn{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
        font-size: 1rem;
        border-radius: 10px;
        background-color: #333252;
    }
    .modalheading{
        font-size: 1.1rem;
        margin-bottom: 0px;
    }

    .skeletonStyle{
        height: 100dvh;
        padding: 2rem 0rem;
    }
    ::ng-deep .p-overlaypanel{
        width: 90%;
    }
    .notiContentStyle{
        width:100vw; 
        font-size: 0.9rem;
    }
  }