<div class="classSection m-3 mb-3">

    <div class="navbar1">
        <h4 class="mb-0 ms-5 me-auto fw-bold">Classes</h4>
        <div class="input-group" style="border-radius: 20px;">
            <span class="input-group-text searchicon" id="basic-addon1" style="background-color: transparent; border-right: 0px;"><span class="material-icons mb-0" style="color: #c2c2c2;">search</span></span>
            <input class="me-3 py-1 searchinput form-control" style="border-left: 0px;" type="text" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1"/>
        </div>
        <button class="btn"><span class="material-icons me-2 mb-0" style="color: #333252;">notifications</span></button>
        <button class="btn"><span class="material-icons me-2 mb-0" style="color: #333252;">info</span></button>
    </div>

    <div class="d-flex justify-content-center align-items-center h-100">
        <button class="btn d-flex justify-content-center align-items-center flex-column fw-normal fs-3" style="color: #b7b7b7;"><span class="material-icons" style="color: #b7b7b7; font-size: 10rem;">add_circle</span>Create a New Class</button>


    </div>
</div>