<div class="customheight">
<form [formGroup]="formgroup1" (ngSubmit)="signupHandler()">
        <div class="row d-flex justify-content-center align-content-center">
            <div class="col-sm-12 col-lg-7 position-relative d-flex justify-content-center align-items-start flex-column leftsection">
                <img class="heroimg animate img-fluid mx-auto" src="assets/signupbg.png" alt="hero" width="650vw">
                <div class="px-3">
                    <h5 class="fw-semibold mt-4" style="color: rgb(168, 168, 168);">Askphere</h5>
                    <p class="fw-bold" *ngIf="textNumb === 1" data-aos="fade-up" data-aos-duration="500">Start your journey with us today by signing up! Unlock exclusive features, personalized content, and join a welcoming community.</p>
                    <p class="fw-bold" *ngIf="textNumb === 2" data-aos="fade-up" data-aos-duration="500">Streamline user onboarding with an intuitive signup flow, maximizing conversion rates and user satisfaction.</p>
                    <p class="fw-bold" *ngIf="textNumb === 3" data-aos="fade-up" data-aos-duration="500">Enhance account security with verification protocols during signup, fortifying against fraudulent activities.</p>
                    <a class="btn btn-outline-dark" routerLink="/">Back to Homepage</a>
                </div>
                <div class="welcometag">
                    <h6 class="text-center text-light m-0">Create new account!</h6>
                </div>
            </div>
            <div class="col-sm-12 col-lg-5 text-light position-relative d-flex justify-content-center align-items-center flex-column rightsection py-4">
                <h1 class="herotxt my-4">Register your account</h1>
                <div class="d-flex justify-content-center align-items-center flex-column flex-md-row gap-3 custwidth mb-3">
                    <input type="text" [formControl]="fname" class="form-control custominput w-100" id="fname" placeholder="Enter First Name">
                    <input type="text" [formControl]="lname" class="form-control custominput w-100" id="lname" placeholder="Enter Last Name">
                </div>

                <div class="d-flex justify-content-start align-items-start flex-column custwidth mb-3">
                    <input type="email" [formControl]="email" class="form-control custominput w-100 mb-2" id="email" placeholder="Enter Username or Email">
                    <small id="username-help" class="text-danger" *ngIf="email.invalid && (email.dirty)">Please enter a valid email address.</small>
                </div>

                <div class="d-flex justify-content-start align-items-start flex-column custwidth mb-3">
                    <input type="password" [formControl]="password" class="form-control custominput w-100 mb-2" id="password" placeholder="Enter Password">
                    <small id="username-help" class="text-danger" *ngIf="password.invalid && (password.dirty)">Password must be 8 characters long.</small>
                </div>

                <div class="d-flex justify-content-start align-items-start flex-column custwidth mb-3">
                    <input type="password" [formControl]="cpassword" class="form-control custominput w-100 mb-2" id="cpassword" placeholder="Confirm Password">
                    <small id="username-help" class="text-danger" *ngIf="cpassword.invalid && (cpassword.dirty)">Passwords do not match.</small>
                </div>

                <div class="d-flex justify-content-start align-items-center flex-row gap-3 custwidth mb-3">
                    <label for="">Register as: </label>
                    <div class="d-flex justify-content-center align-items-center flex-row">
                        <p-radioButton name="pizza" value="0" [formControl]="role" id="role"></p-radioButton>
                        <label for="ingredient1" class="ms-2 mb-0">Student</label>
                    </div>
                    
                    <div class="d-flex justify-content-center align-items-center flex-row">
                        <p-radioButton name="pizza" value="1" [formControl]="role" id="role"></p-radioButton>
                        <label for="ingredient2" class="ms-2 mb-0">Teacher</label>
                    </div>
                </div>
                <div class="form-check mb-4 custwidth">
                    <input class="form-check-input" [formControl]="tnc" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                    You are agreed to our terms and conditions
                    </label>
                  </div>

                <div class="mb-4 custwidth">
                    <button type="submit" class="btn loginbtn d-flex justify-content-center align-items-center fs-5 w-100" [disabled]="!formgroup1.valid"><i class="pi pi-spin pi-spinner me-2 d-none" #spinner style="font-size: 1rem"></i> Sign Up</button>
                </div>
                <div class="w-100 d-flex justify-content-center align-items-center flex-row">
                    <p class='text-center mb-0 me-2' style="color:#ffffff;">Already have an account? </p><a class='input' style="color: white" routerLink="/login">Log In</a>
                </div>
            </div>
        </div>
    </form>
</div>

