<div class="outerfooter bgcolordark">
    <div class="row d-flex justify-content-center align-items-start container g-5 p-sm-0">
        <div class="col-sm-12 col-md-6 col-lg-3 colcenter">
            <h4 class="fw-bold mb-4 footertxtclr">ABOUT TITLE</h4>
            <div class="d-flex justify-content-center align-items-center flex-column">
                <div class="footertxtclr mb-0">
                    <p>Experience the future of education: personalized learning from teachers' books. Join us in shaping the classroom of tomorrow!</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 colcenter">
            <h5 class="fw-bold mb-4 footertxtclr">INFORMATION</h5>
            <ul class="footertxtclr mb-0">
                <li class="mb-2"><a class='fs-6 footertxtclr' href="">Terms opf Service</a></li>
                <li class="mb-2"><a class='fs-6 footertxtclr' href="">About</a></li>
                <li class="mb-2"><a class='fs-6 footertxtclr' href="">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 colcenter">
            <h5 class="fw-bold mb-4 footertxtclr">SUPPORT</h5>
            <ul class="footertxtclr">
                <li class="mb-2"><a class='fs-6 footertxtclr' href="">FAQs</a></li>
                <li class="mb-2"><a class='fs-6 footertxtclr' href="">Contact</a></li>
                <li class="mb-2"><a class='fs-6 footertxtclr' href="">Community</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-3 colcenter">
            <h5 class="fw-bold mb-4 footertxtclr">SUBSCRIBE</h5>
            <p class="footertxtclr">Get the latest news and updates</p>
            <form class="d-flex justify-content-center align-items-center newsform" action="">
                <input required type="email" placeholder="Enter email address"/>
                <button class="btn sendbtn" type="submit"><span class="material-icons sendicon">send</span></button>
            </form>
        </div>
    </div>
    <div class='crsection bgcolordark mt-5'>
        <p class="m-0">Copyright &#64; 2023 AskSphere inc.</p>
    </div>
</div>
