<div class="hero">
    <div class="container textdiv mt-5">
        <div class="row d-flex justify-content-start align-content-center" data-aos="fade-up" data-aos-duration="3000">
            <div class="text-light d-flex justify-content-start align-items-start flex-column py-4 innerdiv ps-0">
                <h1 class="herotxt my-4">REDEFINING <span>EDUCATION</span></h1>
                <p class="heropara2 mb-4">Step into our groundbreaking classroom platform, where we're blending classic education with high-tech AI features! Imagine having interactive chats and lessons tailored from your teachers' own books. It's a whole new way to learn, personalized just for you.</p>
                <div>
                    <button class="btn joinbtn d-flex justify-content-center align-items-center fs-5" [routerLink]="navigationRoute">GET STARTED <span class="material-icons ms-3">double_arrow</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-sm-12 col-lg-6 text-light position-relative d-flex justify-content-start align-items-start flex-column p-4 ps-0">
    <img class="spinanimate my-3" src="https://thetork.com/demos/html/bitrader/assets/images/banner/home1/3.png" alt="" width="100px">
    <h1 class="herotxt my-4">TRANSFORMING FUTURE OF <span>EDUCATION</span></h1>
    <p class="heropara">Guide to the Future of Finance</p>
    <p class="heropara2 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos atque, perspiciatis aut dolorem in error! Incidunt, nisi placeat? Doloribus, officia, architecto sit voluptatem porro hic ipsum neque quod dolor distinctio vero officiis repudiandae consequatur?</p>
    <div>
        <button class="btn joinbtn d-flex justify-content-center align-items-center fs-5" routerLink="/contact">GET STARTED <span class="material-icons ms-3">double_arrow</span></button>
    </div>
</div>
<div class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-start flex-column">
    <img class="heroimg animate img-fluid mt-5" src="assets/hero.png" alt="hero" width="600vw">
</div> -->