<div class="hero">
    <div class="container textdiv my-5">
        <div class="row" data-aos="fade-up" data-aos-duration="3000">
            <div class="text-light flex-column py-4 innerdiv ps-0">
                <h1 class="herotxt my-4">REDEFINING <span>EDUCATION</span></h1>
                <p class="heropara2 mb-4 px-md-5 lg-view">Step into our innovative classroom platform, blending classic education with high-tech AI! Enjoy interactive chats and lessons tailored from your teacher's books for a personalized learning experience like never before.</p>
                <p class="heropara2 mb-4 px-md-5 sm-view">Experience our classroom platform with AI-powered interactive lessons tailored from your teachers' books for a personalized learning journey.</p>
                <div class="joinbtnContainer w-100">
                    <button class="btn joinbtn d-flex justify-content-center align-items-center fw-bold" [routerLink]="navigationRoute">Try Demo<span class="material-icons ms-2">double_arrow</span></button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="col-sm-12 col-lg-6 text-light position-relative d-flex justify-content-start align-items-start flex-column p-4 ps-0">
    <img class="spinanimate my-3" src="https://thetork.com/demos/html/bitrader/assets/images/banner/home1/3.png" alt="" width="100px">
    <h1 class="herotxt my-4">TRANSFORMING FUTURE OF <span>EDUCATION</span></h1>
    <p class="heropara">Guide to the Future of Finance</p>
    <p class="heropara2 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos atque, perspiciatis aut dolorem in error! Incidunt, nisi placeat? Doloribus, officia, architecto sit voluptatem porro hic ipsum neque quod dolor distinctio vero officiis repudiandae consequatur?</p>
    <div>
        <button class="btn joinbtn d-flex justify-content-center align-items-center fs-5" routerLink="/contact">GET STARTED <span class="material-icons ms-3">double_arrow</span></button>
    </div>
</div>
<div class="col-sm-12 col-lg-6 d-flex justify-content-center align-items-start flex-column">
    <img class="heroimg animate img-fluid mt-5" src="assets/hero.png" alt="hero" width="600vw">
</div> -->