.hero{
    background-image: url("https://pixboost.com/api/2/img/https://res.cloudinary.com/df9dncnci/image/upload/v1710749700/bg2-min_kcy8kf.png/resize?size=1440&auth=MTI3OTQ0NTAyMA__");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}
.textdiv{
  margin-left: 6rem;
}

.innerdiv{
  width: 50%;
}

.herotxt{
  color: #fff;
  font-size: 5rem;
  font-weight: bold;
}
.herotxt span{
  color: #ef04cf;
}
.heropara2{
  text-align: start;
  padding-right: 10rem;
}
.heropara{
  font-size: 2.5rem;
}

.hometxt{
  text-align: justify;
}

.joinbtn{
    border: 1px solid #fff;
    background-color: #fff;
    color: black;
    border-radius: 10px;                   
    padding: 5px 12px;
}

.joinbtn:hover{
    background-color: rgb(214, 214, 214);
    color: black;
    transition: 0.6s ease all;
}

@media (max-width:992px){
  .herotxt{
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
  }

  .heropara2{
    text-align: start;
    padding-right: 0px;
  }

  .innerdiv{
    width: 100%;
  }

  .textdiv{
    margin-left: 2rem;
  }

  .hero{
    height: auto;
    background-image: url("../../../../assets/bg3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:576px){
  .herotxt{
    font-size: 3rem;
    text-align: start;
  }
  
  .heropara{
    font-size: 2rem;
    text-align: start;
  }
  .heropara2{
    text-align: start;
  }
  .hero{
    height: 100dvh;
    background-image: url("../../../../assets/bg3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

