<div class="m-3 m-lg-4" *ngIf="chat.length>0">

    <div *ngFor="let query of chat; let i = index;">
        <!-- Question -->
        <div class="row d-flex justify-content-start align-items-start my-3">
            <div class="col-2 col-md-1">
                <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
            </div>
            <div class="col-10 col-md-11">
                <h6 class="fw-bold text-dark my-1">You</h6>
                <p class="text-dark my-2" [innerHTML]="query.request | newline"></p>
            </div>
        </div>
        <!-- Answer -->
        <div class="row d-flex justify-content-start align-items-start mt-3">
            <div class="col-2 col-md-1">
                <p-avatar image="assets/gptlogo.png" styleClass="mr-2" size="large" shape="circle"></p-avatar>
            </div>
            <div class="col-10 col-md-11">
                <h6 class="fw-bold text-dark my-1">AskSphere</h6>

                <!-- last response but in the state of loading -->
                <div *ngIf="query.response === 'loading' && i===chat.length-1" class="spinner-grow spinner-grow-sm text-dark my-2" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>

                <!-- last response for type-writer effect -->
                <p *ngIf="query.response !== 'loading' && i===chat.length-1 && !startTyping" class="text-dark my-2 hello" [innerHTML]="query.response | newline | bold | underline"></p>
                <ngx-typed-js *ngIf="query.response !== 'loading' && i===chat.length-1 && startTyping" [strings]="[query.response | newline | bold | underline]" [typeSpeed]="10" [showCursor]="false">
                    <p class="typing text-dark"></p>
                </ngx-typed-js>

                <!-- not last response nor its in the state of loading. text will be statically displayed through this p tag -->
                <p *ngIf="query.response !== 'loading' && i!==chat.length-1" class="text-dark my-2" [innerHTML]="query.response | newline | bold | underline"></p>

            </div>
        </div>
    </div>
    
</div>

<div class="m-3 m-lg-4 d-flex justify-content-center align-items-center flex-column h-100" *ngIf="chat.length==0">
    <img class="img-fluid mt-5 mb-4" src="../../../../assets/askspherelogo.png" alt="" width="80px" height="auto">
    <h4 class="fw-bold text-dark text-center">How can I help you today?</h4>
</div>
