.sourceStyle{
    border-radius: 7px; 
    font-size: 0.95rem; 
    /* box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;  */
    width: max-content; 
    background-color: rgba(248, 245, 250, 0.952);
    transition: 0.3s ease-in-out all;

}

.responseOption{
    visibility: hidden;
}

.response:hover .responseOption{
    visibility: visible;
}

.sourceStyle:hover{
    cursor: pointer;
    background-color: rgb(231, 228, 233);
    transition: 0.3s ease-out all;
    transform: scale(1.03);
}