<section class="outerbenefit bgcolor">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center g-5">
            <div class="col-12-sm col-lg-6 d-flex justify-content-start">
                <img class="img-fluid" src="https://thetork.com/demos/html/bitrader/assets/images/about/1-dark.png" alt="">
            </div>
            <div class="col-12-sm col-lg-6">
                <h5 class="headingtxt text-start my-4">SUPER CHARGE YOUR BOOK READING EXPERIENCE</h5>
                <div class="row g-5">
                    <div class="col-6">
                        <h1 class="percenttxt">80%</h1>
                        <div class="descstyle"><p class="m-0">Model Accuracy</p></div>
                    </div>
                    <div class="col-6">
                        <h1 class="percenttxt">84%</h1>
                        <div class="descstyle"><p class="m-0">Relevant Answers</p></div>
                    </div>
                    <div class="col-6">
                        <h1 class="percenttxt">5x</h1>
                        <div class="descstyle"><p class="m-0">Less Training Time</p></div>
                    </div>
                    <div class="col-6">
                        <h1 class="percenttxt">10x</h1>
                        <div class="descstyle"><p class="m-0">Productivity & Relativity</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>