<div class="customheight">
    <form [formGroup]="formgroup1" (ngSubmit)="newPassHandler()">
            <div class="row d-flex justify-content-center align-content-center">
                <div class="col-sm-12 col-lg-7 position-relative d-flex justify-content-center align-items-start flex-column leftsection">
                    <img class="heroimg animate img-fluid" src="assets/loginbgimg.png" alt="hero" width="500vw">
                    <div class="px-3">   
                        <h5 class="fw-semibold mt-4" style="color: rgb(168, 168, 168);">Askphere</h5>
                        <p class="fw-bold" *ngIf="textNumb === 1" data-aos="fade-up" data-aos-duration="500">Resetting password is crucial for maintaining the security of user accounts. Users can take immediate action to protect their accounts.</p>
                        <p class="fw-bold" *ngIf="textNumb === 2" data-aos="fade-up" data-aos-duration="500">Reinforce account security by creating a robust new password during the reset process, safeguarding against unauthorized access.</p>
                        <p class="fw-bold" *ngIf="textNumb === 3" data-aos="fade-up" data-aos-duration="500">Empower users to strengthen their account defenses by setting a strong, unique password upon resetting, enhancing overall security.</p>
                        <a class="btn btn-outline-dark" routerLink="/">Back to Homepage</a>
                    </div>
                    <div class="welcometag">
                        <h6 class="text-center text-light m-0">Reset Password</h6>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-5 text-light position-relative d-flex justify-content-center align-items-center flex-column rightsection">
                    <h1 class="herotxt mt-5 mb-4">Set New Password</h1>
                    <input type="text" [formControl]="token" class="form-control custominput mb-4" id="token" placeholder="Enter Token">
                    <input type="password" [formControl]="password" class="form-control custominput mb-4" id="password" placeholder="Enter Password">
                    <input type="password" [formControl]="cpassword" class="form-control custominput mb-4" id="cpassword" placeholder="Confirm Password">
    
                    <div class="mb-4 w-75">
                        <button type="submit" class="btn loginbtn d-flex justify-content-center align-items-center fs-5 w-100" [disabled]="!formgroup1.valid"><i class="pi pi-spin pi-spinner me-2 d-none" #spinner style="font-size: 1rem"></i> Confirm</button>
                    </div>
                    <div class="w-100 d-flex justify-content-center align-items-center flex-row">
                        <p class='text-center mb-0 me-2' style="color:#ffffff;">Already have an account? </p><a class='input' style="color: white" routerLink="/login">Log In</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    