:host ::ng-deep .p-inplace-display{
    padding: 0px !important;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

:host ::ng-deep .p-inplace-display:hover{
   background-color: transparent;
}

:host ::ng-deep .p-button{
   background-color: #393268;
   padding: 2px !important;
   width: 32px;
   height: 32px;
   border-radius: 16px;
   margin: 10px 0px;
}

:host ::ng-deep .p-inplace-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .materialCard{
    border-radius: 5px !important;
    padding: 15px 8px ;
} */

.viewmore{
    color: #393268;
    font-weight: bold;
    font-size: small;
}

.classintro{
    background-image: url('../../../../assets/img_bookclub.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 30dvh;
    width: 70dvw;
    border-radius: 20px;
    display: flex;
    justify-content: start;
    align-items: end;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.classname{
    font-weight: 550;
    font-size: 2rem;
    margin: 30px;
}

.classform{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
    border-radius: 8px;
    margin: 0px 10px;
    padding: 15px 15px;
}

.classform:hover{
    background-color: rgb(217, 243, 243);
    cursor: pointer;
}

.classform1{
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 20px;
    margin: 0px 10px;
    width: 50%;
}

.thumbnail{
    background-image: url('../../../../assets/nlpbookcover.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px 0px 0px 20px;
}

@media (max-width:996px){
    .classintro{
        background-image: url('../../../../assets/img_bookclub.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
        height: 30dvh;
        width: 90dvw;
        border-radius: 20px;
        display: flex;
        justify-content: start;
        align-items: end;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
    .classform1{
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
        border-radius: 20px;
        margin: 0px 10px;
        width: 90%;
    }
}