<div class="m-3">
    <div class="classintro mb-4">
        <h4 class="classname">Mathematics MT-4201</h4>
    </div>

    <div class="classform my-4">
        <div class="row">

            <div class="col-12 d-flex justify-content-start align-items-start p-3 pb-0">
                <p-avatar class="ms-3" icon="pi pi-user" styleClass="mr-2" size="large" [style]="{ 'background-color': '#333252', color: '#ffffff' }" shape="circle"></p-avatar>
                <div class="d-flex justify-content-start align-items-start flex-column ms-3" >
                    <h6 class="fw-bold mb-0 pb-1 text-dark">Dr. Umer Farooq</h6>
                    <p class="text-muted mb-2">4:08 pm</p>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-start align-items-start flex-column p-3 px-4">
                <p class="pb-0 mb-0 ms-3 text-dark">Get ready for an adventure in cryptography!</p>
            </div>
        </div>
    </div>

    <div class="classform my-4">
        <div class="row">

            <div class="col-12 d-flex justify-content-start align-items-start p-3 pb-0">

                <p-avatar class="ms-3" icon="pi pi-user" styleClass="mr-2" size="large" [style]="{ 'background-color': '#333252', color: '#ffffff' }" shape="circle"></p-avatar>
                <div class="d-flex justify-content-start align-items-start flex-column ms-3" >
                    <h6 class="fw-bold mb-0 pb-1 text-dark">Dr. Umer Farooq</h6>
                    <p class="text-muted mb-2">4:08 pm</p>
                </div>

            </div>

            <div class="col-12 d-flex justify-content-start align-items-start flex-column p-3 px-4 pt-1">

                <div class="classform1 mt-2 ms-3" style="cursor: pointer;">
                    <div class="row">
                        <div class="col-3 d-flex justify-content-start align-items-start thumbnail">
                            
                        </div>
                        <div class="col-9 d-flex justify-content-start align-items-start flex-column p-3 px-4">
                            <h6 class="fw-bold mb-0 pb-1 text-dark">Introduction to NLP</h6>
                            <p class="text-muted mb-2">PDF</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>