/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body { 
    margin: 0; 
    font-family: roboto, "Helvetica Neue", sans-serif !important;
    /* margin-top: 2rem;  */
}

.bgcolor{
    background-image: linear-gradient(to right, #29244d,#352e62);
    /* background-color: #2e2952; */
}

.radialbgcolor{
    background-image: radial-gradient(closest-side,#393268, #29244d);
    /* background-color: #2e2952; */
}

.bgcolordark{
    background-color: #28224e;
}

