/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";
html,
body { 
    margin: 0; 
    font-family: poppins, "Helvetica Neue", sans-serif !important;

    /* overflow: hidden; */
    /* margin-top: 2rem;  */
}

body.side-nav-open {
    overflow: hidden;
  }

.bgcolor{
    background-image: linear-gradient(175deg, #26233f,#4b419c);
    /* background-color: #2e2952; */
}

.bgcoloralt{
    background-image: linear-gradient(360deg, #26233f,#4b419c);
    /* background-color: #2e2952; */
}

.radialbgcolor{
    background-image: radial-gradient(closest-side,#393268, #29244d);
    /* background-color: #2e2952; */
}

.bgcolordark{
    background-color: #1d173f !important;
}

.classSection{
    height: 95dvh;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    margin-left: 0px !important;
}

.navbar1{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row !important;
    border-bottom: 2px solid #b7b7b7;
    height: 65px;
    width: 100%;
    color: #333252;
}

.searchinput{
    border: 1px solid #b7b7b7;
    border-radius: 20px;
    width: 70%;
    color: #8f8f8f;
}

.searchicon{
    border: 1px solid #b7b7b7;
    border-radius: 20px;
}

.input-group{
    width: max-content;
}

