<div class="outerdiv">
    <div class="row d-flex justify-content-center align-items-start w-100">
        <div class="col-sm-12 col-lg-6">
            <div class="txtdiv">
                <h2>Let&apos;s <span>Get In Touch</span> With Us</h2>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-5">
                <button class="socialicons"><img class="img-fluid iconsize" src="assets/linkedin.png" alt=""></button>
                <button class="socialicons"><img class="img-fluid iconsize" src="assets/Facebook.png" alt=""></button>
                <button class="socialicons"><img class="img-fluid iconsize" src="assets/twitter.png" alt=""></button>
                <button class="socialicons"><img class="img-fluid iconsize" src="assets/whatsapp.png" alt=""></button>
                <button class="socialicons"><img class="img-fluid iconsize" src="assets/youtube.png" alt=""></button>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-4" style="gap: 1rem;">
                <div class="icondiv">
                    <span class="material-icons fs-5 fs-md-3 mx-3">call</span>
                </div>
                <h5 class="fs-5">+92-3303791442</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-4" style="gap: 1rem;">
                <div class="icondiv">
                    <span class="material-icons fs-5 fs-md-3 mx-3">mail</span>
                </div>
                <h5 class="fs-5 mailtxt">AskSphereOfficial<br>&#64;gmail.com</h5>
            </div>
            <div class="d-flex justify-content-start align-items-center text-light my-4" style="gap: 1rem;">
                <div class="icondiv">
                    <span class="material-icons fs-5 fs-md-3 mx-3">location_on</span>
                </div>
                <h5 class="fs-5">NEDUET, Karachi</h5>
            </div>
        </div>
        <div class="col-sm-12 col-lg-6">
            <form>
                <div class="container">
                    <div class="my-3 text-light">
                        <label for="exampleFormControlInput1" class="form-label fs-5 fw-bold">Name</label>
                        <input type="text" class="form-control input" id="exampleFormControlInput1" placeholder="Your Name">
                    </div>
                    <div class="my-4 text-light">
                        <label for="exampleFormControlInput2" class="form-label fs-5 fw-bold">Email</label>
                        <input type="text" class="form-control input" id="exampleFormControlInput2" placeholder="Your Email">
                    </div>
                    <div class="my-4 text-light">
                        <label for="exampleFormControlInput3" class="form-label fs-5 fw-bold">Message</label>
                        <textarea type="text" class="form-control input" id="exampleFormControlInput3" rows="5" placeholder="Your Message"></textarea>
                    </div>
                    <button class="btn w-100 joinbtn">Contact Us</button>
                </div>
            </form>
        </div>
    </div>
</div>