<div class="classSection m-0 m-lg-3 mb-0 mb-lg-3">

    <div class="navbar1 py-3">
        <button class="btn mx-3 navbtn d-flex d-lg-none" (click)="drawer.toggle()" [disabled]="disabled"><span class="material-icons mb-0">menu</span></button>
        
        <h5 class="mb-0 ms-1 ms-lg-4 me-auto fw-bold">{{courseCode}}</h5>
        <div class="input-group d-none d-lg-flex" style="border-radius: 20px;">
            <span class="input-group-text searchicon pe-0" id="basic-addon1" style="border-right: 0px;"><span class="material-icons mb-0" style="color: #c2c2c2;">search</span></span>
            <input class="me-3 py-1 searchinput form-control" style="border-left: 0px;" type="text" placeholder="Search" aria-label="Username" aria-describedby="basic-addon1"/>
        </div>
        <div class="dropdown">
            <button class="btn me-2 pb-0 navbtn" *ngIf="usertype==1"  data-bs-toggle="dropdown" pTooltip="Post Content" tooltipPosition="bottom"><span class="material-icons mb-0">add</span></button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="showDialog()" style="cursor: pointer;"><span class="pi pi-book me-2"></span>Upload Books</a></li>
              <li><a class="dropdown-item" (click)="showDialog1()" style="cursor: pointer;"><span class="pi pi-megaphone me-2"></span>New Announcement</a></li>
            </ul>
          </div>
        <button class="btn me-2 pb-0 navbtn me-3" pTooltip="Notifications" tooltipPosition="bottom" (click)="op.toggle($event)" pBadge value="2" severity="danger"><span class="material-icons mb-0">notifications</span></button>
        <!-- <button class="btn me-2 pb-0 navbtn"><span class="material-icons mb-0">info</span></button> -->
    </div>

    <p-overlayPanel #op>
        <ng-template pTemplate="content"> 
            <h6 class="text-dark fw-bold mb-3">Notifications</h6>
            <div class="d-flex justify-content-start align-items-center flex-row notiStyle">
                <p-avatar icon="pi pi-user" styleClass="mr-2" size="large" [style]="{ 'background-color': '#333252', color: '#ffffff' }" shape="circle"></p-avatar>
                <div class="d-flex justify-content-start align-items-start flex-column ms-2 notiContentStyle">
                    <p class="text-dark mb-1"><strong>Dr. Saman Hina</strong> Posted a new Announcement</p>
                </div>
            </div>
        </ng-template>
    </p-overlayPanel>

    <!-- <p-menu #menu [model]="items" [popup]="true" ></p-menu> -->

    <div class="contentcontainer" #chatContainer>
        <app-class-material *ngIf="currentPath==materialroute"/>
        <app-class-students *ngIf="currentPath==studentsroute"/>
        <app-class-chat #classChatComponent *ngIf="currentPath==chatroute" [question]="question" [scrollToBottom]="scrollToBottom()"/>
        <!-- <p-scrollTop *ngIf="currentPath==chatroute" target="parent" styleClass="custom-scrolltop" [threshold]="100" icon="pi pi-arrow-up"></p-scrollTop> -->
    </div>

    <!-- <hr class="m-0 mb-auto"> -->
    <!-- <p class="text-dark" style="white-space: pre-wrap;">{{question}}</p> -->
    <form *ngIf="currentPath==chatroute" class="d-flex justify-content-center align-items-center newsform my-3" action="">
        <textarea required rows="2" cols="30" pInputTextarea [(ngModel)]="question" name="question" class="form-control chatinput" placeholder="Message AskSphere..." (keydown.enter)="onEnter($event)" (keydown.shift.enter)="insertNewLine($event)" #messageInput></textarea>
        <button class="btn sendbtn" (click)="sendQuery()"><span class="material-icons sendicon mt-1">send</span></button>
    </form>
    <!-- <input *ngIf="currentPath==chatroute" class="form-control chatinput my-3" type="text" placeholder="Message AskSphere..."> -->
    <div class="row snackbar">
        <div class="col-4 snackstyle1" [ngClass]="currentPath==chatroute?'active':''">
            <a class="btn snackbtn" [routerLink]="chatroute"><span class="pi pi-fw pi-comments me-1"></span>Chat</a>
        </div>

        <div class="col-4 snackstyle2" [ngClass]="currentPath==materialroute?'active':''">
            <a class="btn snackbtn" [routerLink]="materialroute"><span class="pi pi-fw pi-book me-1"></span>Materials</a>
        </div>

        <div class="col-4 snackstyle3" [ngClass]="currentPath==studentsroute?'active':''">
            <a class="btn snackbtn" [routerLink]="studentsroute"><span class="pi pi-fw pi-users me-1"></span>Students</a>
        </div>
    </div>


    <p-dialog header="Header" [(visible)]="visible" [modal]="true" [dismissableMask]="true" [breakpoints]="{ '960px': '85vw' }" [draggable]="false" [resizable]="false" [style]="{width: '80vw',height:'80vh', border:'0px',borderRadius:'50px', boxShadow: 'rgba(0, 0, 0, 0.24) 0px 3px 8px'}">
        <ng-template pTemplate="header">
            <h5 class="white-space-nowrap fw-bold modalheading ms-2">Upload Materials</h5>
        </ng-template>
        <!-- <label for="exampleFormControlInput1" class="mb-1 mt-3">Title</label> -->
        <input [(ngModel)]="bookObj.Title" type="text" class="form-control custominput my-3" placeholder="Your title here">
        <!-- <label for="exampleFormControlInput1" class="mb-1 mt-3">Description</label> -->
        <!-- <input type="text" class="form-control custominput mb-3" id="exampleFormControlInput1" placeholder="Your Description here..."> -->
        <p-editor [(ngModel)]="bookObj.Description" name="description" placeholder="Your description here" [style]="{ height: '170px' }"></p-editor>
        <!-- <label for="exampleFormControlInput2" class="mb-1">Your attachment</label> -->
        <input type="file" class="form-control custominput my-3" (change)="onFileSelected($event)" name="fileinput" placeholder="Choose File" multiple>
        
        <ng-template pTemplate="footer pt-5">
            <div class="w-100 d-flex justify-content-start align-items-center">
                <a class="btn sidenavbtn" (click)="addBook()"><span class="material-icons me-2">add</span>Add material</a>
            </div>
        </ng-template>
    </p-dialog>


    <p-dialog header="Header" [(visible)]="visible1" [modal]="true" [dismissableMask]="true" [breakpoints]="{ '960px': '85vw' }" [draggable]="false" [resizable]="false" [style]="{width: '60vw', border:'0px',borderRadius:'50px', boxShadow: 'rgba(0, 0, 0, 0.24) 0px 3px 8px'}">
        <ng-template pTemplate="header">
            <h5 class="white-space-nowrap fw-bold modalheading ms-2">New Announcement</h5>
        </ng-template>
        <!-- <label for="exampleFormControlInput1" class="mb-1 mt-3">Announcement</label> -->
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Write Your announcement here..." style="visibility: hidden;">
        <p-editor [(ngModel)]="announcementObj.announcementText" name="description" placeholder="Your announcement here" [style]="{ height: '170px' }"></p-editor>
        
        <ng-template pTemplate="footer pt-5">
            <div class="w-100 d-flex justify-content-start align-items-center">
                <a class="btn sidenavbtn mt-3" (click)="addAnnouncement()"><span class="material-icons me-2">add</span>Post Announcement</a>
            </div>
        </ng-template>
    </p-dialog>

</div>



